<div class="card">
  <div class="card-body">
    <div class="post-overflow">
    <% if groupposts.present? %>
      <% groupposts.each do |grouppost| %>
      <div class="row">
        <div class="col-3">
        <%= image_tag grouppost.user.get_profile_image, size: '30x30', style: 'border-radius: 25%' %>
        <%= link_to grouppost.user.nickname, user_path(grouppost.user) %>
        </div>
        <div class="col-9">
        <%= grouppost.content %>
        </div>
      </div>
        <hr>
      <% end %>
    <% else %>
      <strong>まだ投稿はありません。新しい投稿をしてみましょう！</strong>
    <% end %>

    </div>

  </div>
</div>