<div class="row">
  <div class="col-2"></div>
  <div class="col-8">
    <%= form_with model: [goal, comment] do |f| %>
      <%= f.text_area :body, rows:'5', placeholder: "応援メッセージを送ろう！", class: "w-100" %>
      <%= button_tag type: "submit", class: "btn btn-primary" do %>
      <i class="fa-solid fa-paper-plane text-light"></i>
      <% end %>
    <% end %>
  </div>
</div>