<div class="row">
  <div class="col-2"></div>
  <div class="col-8">
    <h1 class="text-center text-light">LINE公式アカウントから通知を受け取る</h1>
    <div class="card">
      <div class="card-body">
        <strong>注意：この機能はLINEログインしている会員様のみご使用いただけます。LINE情報取り扱いに関しましては、画面下のプライバシーポリシーをお読みください。</strong>
        <hr>
      　<h3>方法</h3>
      　<p>まず、友達追加ボタンより公式ラインを追加もしくは、QRコードを読み取りLINE友達追加をしてください。</p>
      　<div class="line-it-button" data-lang="ja" data-type="friend" data-env="REAL"   data-lineId="@302kttth" style="display: none;"></div>
        <script src="https://www.line-website.com/social-plugins/js/thirdparty/loader.min.js" async="async" defer="defer"></script><br>
      　<%= image_tag asset_path("qr.png", alt: "LINEQR"), class: "qr-code" %><br>
      　<p>友達追加後、目標の新規登録より期限を設定して目標を登録してください。通知は目標の期限の3日前にLINEアカウントにてお知らせいたします。</p>

      </div>
    </div>
  </div>
</div>