<div class="row">
  <div class="col-2"></div>
  <div class="col-8">
    <h1 class="text-light text-center">プライバシーポリシー</h1>
    <div class="card">
      <div class="card-body">
      <strong class="text-center">プライバシーポリシー</strong><br>
      <hr>
      <p>当社は、お客様のプライバシーを尊重し、個人情報を保護することを重要視しています。本プライバシーポリシーは、当社がどのようにお客様の個人情報を収集、利用、保護するかについて説明しています。本ポリシーにご同意いただいた上で、当社のサービスをご利用いただけます。<br>
        <br>
        1. 収集する情報<br>
        <br>
        当社は、お客様からニックネーム、メールアドレス、パスワードを収集します。これらの情報は、当社のアプリケーションを利用するために必要な情報であり、その他の使用用途は一切ありません。<br>
        <br>
        2. 収集目的<br>
        <br>
        当社は、お客様から収集した情報を以下の目的で利用します。<br>
        <br>
        サービス提供のため: アカウント作成、ログイン、お客様の識別、サービスの提供など。<br>
        コミュニケーション: 重要な情報やプロモーション情報の提供、お客様とのコミュニケーションのため。<br>
        セキュリティ対策: アカウントの保護、不正アクセス防止、セキュリティ上の問題の解決など。<br>
        <br>
        3. LINE連携について<br>
        <br>
        当社は、お客様のLINEアカウントとの連携を行う場合がありますが、個人情報の提供は一切行いません。LINE連携を利用する際には、お客様の同意を得た上で必要な情報を取得し、サービス提供に利用します。<br>
        <br>
        4. 情報の共有と開示<br>
        <br>
        当社は、お客様の個人情報を以下のケースで第三者と共有・開示する場合があります。<br>
        <br>
        法的要求に応じる場合: 法的手続きや法令に基づく要請に対応するため<br>
        お客様の同意がある場合: お客様から明示的な同意を得た場合。<br>
        <br>
        5. セキュリティ対策<br>
        <br>
        当社は、お客様の個人情報を保護するために適切なセキュリティ対策を実施しています。データへのアクセス制限、タイムアウトなどを行い、情報漏洩や不正アクセスを防止します。<br>
        <br>
        6. お客様の権利<br>
        <br>
        当社は、お客様の個人情報に関する権利を尊重します。お客様は、自身の情報の閲覧、修正、削除などの要求を行うことができます。また、個人情報の利用停止や提供先の開示などを要求することも可能です。<br>
        <br>
        7. ポリシーの変更<br>
        <br>
        当社は、本プライバシーポリシーを変更する場合があります。重要な変更がある場合には、ウェブサイトやアプリ内でお知らせします。変更後もサービスをご利用いただくことで、変更後のポリシーに同意いただいたものとします。<br>
        <br>
        8. お問い合わせ先<br>
        <br>
        プライバシーポリシーに関するご質問やお問い合わせは、以下の連絡先までご連絡ください。<br>
        <br>
        New Me LINE公式アカウント<br>
        『New Me 期限お知らせ』へお問い合わせください。<br>
        <br>
        9. 有効期限<br>
        <br>
        本プライバシーポリシーは、2024年3月18日に制定され、無期限で有効です。ただし、必要に応じて変更されることがあります。<br>
        <br>
        <hr>
        このプライバシーポリシーは、お客様の個人情報を適切に取り扱い、安心してサービスを利用いただけるように努めています。</p>
      </div>
    </div>
  </div>
</div>
