<div class="row">
  <div class="col-2"></div>
  <div class="col-8 text-center text-light">
    <h1>New Meへようこそ！</h1>
    <p class="text-light">
    New Meはあなたの目標達成を応援するアプリケーションです。<br>
    自身の目標管理はもちろん、似たような目標を持つ人とつながり応援しあうことができます。<br>
    NewMeはニックネームで登録ができるので目標を誰かに見られるのが恥ずかしい人でも大丈夫！<br>
    さあ、なりたい自分への第一歩を踏み出してみませんか？
    </p>
    <img src="../../assets/応援する人々.png">
  </div>
</div>

