<div class="row">
  <h1 class="text-light text-center">Goals</h1>
  <%= render "categories/index", categories: @categories %>
</div>
<div class="card-deck">
  <% @goals.each do |goal| %>
    <%= render "users/goal", goal: goal %>
  <% end %>
</div>
