<div class="row">
  <h1>Goals</h1>
  <%= render "index", categories: @categories %>
</div>
<% if @goals.present? %>
  <div class="card-deck">
    <% @goals.each do |goal| %>
    <%= render "users/goal", goal: goal %>
    <% end %>
  </div>
<% else %>
 <h3>このカテゴリの目標はまだありません</h3>
<% end %>