<div class="row">
  <h1 class="text-center text-light">Goals</h1>
  <%= render "index", categories: @categories %>
</div>

<% if @goals.present? %>
  <div class="card-deck">
    <% @goals.each do |goal| %><br>
      <%= render "users/goal", goal: goal %>
    <% end %>
  </div>
<% else %>
<br>
 <h3 class="text-center text-light">このカテゴリの目標はまだありません</h3>
<% end %>