<% if model.errors.any? %>
  <div class="alert alert-danger" role="alert">
    <div id="error_explanation">
        <% model.errors.full_messages.each do |message| %>
          <%= message %>
        <% end %>
    </div>
  </div>
<% end %>