<div class="text-center">
<%= link_to "LINE通知設定", line_path, style: "text-decoration:none;" %> | <%= link_to "プライバシーポリシー", privacy_policy_path, style: "text-decoration:none;" %><br>
<p>NewMe Ver.1.0</p>
</div>